doctype html

html(lang="uk")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Healthy Paw
    body
        div.sign-up.hidden
            div.background
            div.row
                h2.bold Запис на прийом
                button.close-menu
                    svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M21.0613 18.9387C21.343 19.2205 21.5014 19.6027 21.5014 20.0012C21.5014 20.3997 21.343 20.7819 21.0613 21.0637C20.7795 21.3455 20.3973 21.5038 19.9988 21.5038C19.6002 21.5038 19.218 21.3455 18.9363 21.0637L11 13.125L3.06126 21.0612C2.77946 21.343 2.39727 21.5013 1.99876 21.5013C1.60024 21.5013 1.21805 21.343 0.936257 21.0612C0.654464 20.7794 0.496155 20.3972 0.496155 19.9987C0.496155 19.6002 0.654464 19.218 0.936257 18.9362L8.87501 11L0.938756 3.06122C0.656964 2.77943 0.498655 2.39724 0.498655 1.99872C0.498655 1.60021 0.656964 1.21802 0.938756 0.936225C1.22055 0.654432 1.60274 0.496123 2.00126 0.496123C2.39977 0.496123 2.78196 0.654432 3.06376 0.936225L11 8.87497L18.9388 0.934975C19.2205 0.653182 19.6027 0.494873 20.0013 0.494873C20.3998 0.494873 20.782 0.653182 21.0638 0.934975C21.3455 1.21677 21.5039 1.59896 21.5039 1.99747C21.5039 2.39599 21.3455 2.77818 21.0638 3.05997L13.125 11L21.0613 18.9387Z" fill="black")
            form.pop-up-form
                label(for="name") Ваше ім'я
                input#name(type="text" placeholder="Введіть ваше ім'я")

                label(for="pet-name") Ім'я тварини
                input#pet-name(type="text" placeholder="Введіть ім'я улюбленця")

                label(for="pet-breed") Порода тварини
                input#pet-breed(type="text" placeholder="Введіть породу улюбленця")

                label(for="reason") Причина запису
                input#reason(type="text" placeholder="Введіть причину запису")

                label(for="phone") Контактний телефон
                input#phone(type="tel" placeholder="Введіть ваш номер телефону")

                button.submit-button Записатися

        div.call.hidden
            div.background
            div.row
                h2.bold Замовити дзвінок
                button.close-menu
                    svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M21.0613 18.9387C21.343 19.2205 21.5014 19.6027 21.5014 20.0012C21.5014 20.3997 21.343 20.7819 21.0613 21.0637C20.7795 21.3455 20.3973 21.5038 19.9988 21.5038C19.6002 21.5038 19.218 21.3455 18.9363 21.0637L11 13.125L3.06126 21.0612C2.77946 21.343 2.39727 21.5013 1.99876 21.5013C1.60024 21.5013 1.21805 21.343 0.936257 21.0612C0.654464 20.7794 0.496155 20.3972 0.496155 19.9987C0.496155 19.6002 0.654464 19.218 0.936257 18.9362L8.87501 11L0.938756 3.06122C0.656964 2.77943 0.498655 2.39724 0.498655 1.99872C0.498655 1.60021 0.656964 1.21802 0.938756 0.936225C1.22055 0.654432 1.60274 0.496123 2.00126 0.496123C2.39977 0.496123 2.78196 0.654432 3.06376 0.936225L11 8.87497L18.9388 0.934975C19.2205 0.653182 19.6027 0.494873 20.0013 0.494873C20.3998 0.494873 20.782 0.653182 21.0638 0.934975C21.3455 1.21677 21.5039 1.59896 21.5039 1.99747C21.5039 2.39599 21.3455 2.77818 21.0638 3.05997L13.125 11L21.0613 18.9387Z" fill="black")
            form.pop-up-form
                label(for="call-name") Ваше ім'я
                input#call-name(type="text" placeholder="Введіть ваше ім'я")

                label(for="call-phone") Контактний телефон
                input#call-phone(type="tel" placeholder="Введіть ваш номер телефону")

                button.submit-button Зателефонуйте мені

        nav.mobile-menu.hide
            button.close-menu
                svg(width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M1.32654 1.89003C2.16801 0.726874 3.67309 0.606881 4.68823 1.62202L24.907 21.8408C25.9221 22.8559 26.0629 24.6217 25.2214 25.7849C24.3799 26.9481 22.8749 27.0681 21.8597 26.0529L1.64098 5.83417C0.625847 4.81904 0.485065 3.05318 1.32654 1.89003Z" fill="#49C0F3")
                    path(d="M1.69891 26.0666C0.857442 24.9035 0.998224 23.1376 2.01336 22.1225L22.2321 1.90375C23.2472 0.888611 24.7523 1.0086 25.5938 2.17176C26.4353 3.33491 26.2945 5.10077 25.2793 6.1159L5.0606 26.3346C4.04547 27.3498 2.54039 27.2298 1.69891 26.0666Z" fill="#49C0F3")
            ul.nav-mobile
                li
                    a(href="index.html") Головна
                li
                    a(href="services.html") Послуги
                li
                    a(href="about.html") Про нас
                li
                    a(href="contacts.html") Контакти

        header.header.row
            a(href="/").header-logo
                h1.bold-txt Healthy Paw
            nav.menu.hide-mobile
                ul.nav-desktop
                    li
                        a(href="index.html") Головна
                    li
                        a(href="services.html") Послуги
                    li
                        a(href="about.html") Про нас
                    li
                        a(href="contacts.html") Контакти

            div.mobile-menu.hide-desktop
                span
                span
                span

            div.header-contacts
                p +38 (099) 123 12 12
                p Ми відкриті 24/7
                p Берестейський проспект, 37

        section#hero-banner.row
            div.col-6
                p Ветеринарна клініка
                h2.bold-txt Healthy Paw

                p Здоровий улюбленець
                p Щасливий хазяїн
            div.col-6
                button.pop-up.button
                    p Записатися до нас
                    svg(width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 14.25L7.25 8L1 1.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                button.pop-up.button
                    p Замовити дзвінок
                    svg(width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 14.25L7.25 8L1 1.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

        section.features
            h2.bold-txt У нашій клініці:
            div.row.wrap
                div.col-3
                    p Лише якісні препарати
                    svg(width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M30.3051 14.751C31.8316 13.1997 32.6834 11.1081 32.6748 8.93174C32.6662 6.75536 31.7979 4.67054 30.2591 3.13141C28.7204 1.59228 26.6358 0.723546 24.4594 0.714428C22.283 0.70531 20.1912 1.55655 18.6396 3.08273L3.08283 18.6395C1.53553 20.1868 0.66626 22.2854 0.66626 24.4736C0.66626 26.6618 1.53553 28.7604 3.08283 30.3077C4.63014 31.855 6.72874 32.7243 8.91696 32.7243C11.1052 32.7243 13.2038 31.855 14.7511 30.3077L30.3051 14.751ZM12.6693 12.9442L20.5838 5.02698C21.6155 3.99532 23.0147 3.41574 24.4737 3.41574C25.9327 3.41574 27.3319 3.99532 28.3636 5.02698C29.3952 6.05864 29.9748 7.45787 29.9748 8.91686C29.9748 10.3758 29.3952 11.7751 28.3636 12.8067L20.4463 20.724L12.6693 12.9442ZM33.0001 22C35.9175 22 38.7154 23.1589 40.7783 25.2218C42.8412 27.2847 44.0001 30.0826 44.0001 33C44.0001 35.9174 42.8412 38.7153 40.7783 40.7782C38.7154 42.8411 35.9175 44 33.0001 44C30.0827 44 27.2848 42.8411 25.2219 40.7782C23.159 38.7153 22.0001 35.9174 22.0001 33C22.0001 30.0826 23.159 27.2847 25.2219 25.2218C27.2848 23.1589 30.0827 22 33.0001 22ZM31.6251 24.8655C29.7011 25.1889 27.954 26.1836 26.694 27.6731C25.434 29.1626 24.7426 31.0504 24.7426 33.0014C24.7426 34.9523 25.434 36.8401 26.694 38.3296C27.954 39.8191 29.7011 40.8139 31.6251 41.1372V24.8655ZM34.3751 41.1372C36.299 40.8139 38.0462 39.8191 39.3062 38.3296C40.5662 36.8401 41.2576 34.9523 41.2576 33.0014C41.2576 31.0504 40.5662 29.1626 39.3062 27.6731C38.0462 26.1836 36.299 25.1889 34.3751 24.8655V41.1372Z" fill="white")
                div.col-3
                    p Кваліфіковані лікарі
                    svg(width="32" height="40" viewBox="0 0 32 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1.33325 38.3333V36.5C1.33325 33.0716 1.33325 31.3593 2.07025 30.0833C2.55296 29.2473 3.24722 28.553 4.08325 28.0703C5.35925 27.3333 7.07159 27.3333 10.4999 27.3333L15.9999 34.6666L21.4999 27.3333C24.9283 27.3333 26.6406 27.3333 27.9166 28.0703C28.7526 28.553 29.4469 29.2473 29.9296 30.0833C30.6666 31.3593 30.6666 33.0716 30.6666 36.5V38.3333M23.2178 12.6666L25.0841 5.08396C25.5113 3.34779 24.2188 1.66663 22.4588 1.66663H9.54109C7.78109 1.66663 6.48859 3.34779 6.91575 5.08396L8.78208 12.6666M23.2178 12.6666V16.3333C23.2178 20.3831 19.9874 23.6666 15.9999 23.6666C12.0124 23.6666 8.78208 20.3831 8.78208 16.3333V12.6666M23.2178 12.6666H8.78208M15.9999 5.33329V8.99996M17.8333 7.16663H14.1666" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                div.col-3
                    p Цілодобовий нагляд
                    svg(width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M15.4749 13.0803C16.3879 11.8465 17.7418 10.9583 19.3763 10.9583C21.0602 10.9583 22.3545 11.8364 23.2721 13.0693C24.1906 11.8364 25.4849 10.9583 27.1679 10.9583C28.1359 10.9583 28.9921 11.2223 29.7181 11.6916C30.2716 12.0557 30.7495 12.5236 31.1252 13.0693C31.2647 13.2684 31.3195 13.5148 31.2773 13.7543C31.2352 13.9938 31.0997 14.2067 30.9006 14.3463C30.7015 14.4858 30.4551 14.5405 30.2156 14.4984C29.9761 14.4563 29.7632 14.3208 29.6237 14.1217C28.96 13.1748 28.1167 12.7916 27.1679 12.7916C25.9038 12.7916 24.8396 13.6597 24.1044 15.2519L23.2721 17.0532L22.4407 15.2519C21.7046 13.6597 20.6413 12.7916 19.3763 12.7916C18.4596 12.7916 17.6062 13.2829 16.9489 14.1703C16.2889 15.0622 15.8783 16.3006 15.8783 17.6068C15.8783 18.3127 15.9846 18.991 16.1734 19.6409C16.2669 19.9587 16.3791 20.2704 16.5098 20.5759C17.4366 22.7457 19.4734 24.5469 21.1463 25.8486C21.3322 25.9999 21.4514 26.2179 21.4784 26.456C21.5055 26.6941 21.4382 26.9333 21.291 27.1224C21.1439 27.3115 20.9285 27.4355 20.6911 27.4678C20.4536 27.5 20.213 27.4381 20.0207 27.2951C19.7246 27.0659 19.4065 26.812 19.0783 26.537C17.5383 25.2473 15.7545 23.4735 14.8241 21.2964C14.6644 20.9243 14.5273 20.5429 14.4134 20.1543C14.1701 19.3266 14.046 18.4686 14.0449 17.6059C14.0449 15.9376 14.5647 14.3114 15.4749 13.0803Z" fill="white")
                        path(d="M14.3446 6.64996L15.8782 9.58329L17.6556 6.64996C19.0122 3.80096 20.9675 2.24996 23.305 2.24996C25.0036 2.24996 26.5747 3.13179 27.7802 4.71396C28.9929 6.30621 29.7501 8.51813 29.7501 10.8474C29.7501 11.1309 29.7394 11.4123 29.718 11.6916C30.2715 12.0558 30.7494 12.5236 31.1251 13.0694C31.2268 13.2142 31.2809 13.3792 31.2901 13.5442C31.5055 12.6505 31.5834 11.9006 31.5834 10.8474C31.5834 5.43629 28.09 0.416626 23.305 0.416626C20.6833 0.416626 18.5952 1.82096 17.0836 3.98521C16.6716 4.57993 16.3092 5.20752 16.0001 5.86163C15.691 5.2072 15.3286 4.57931 14.9166 3.98429C13.405 1.82096 11.3177 0.416626 8.69425 0.416626C3.91017 0.416626 0.416748 5.43538 0.416748 10.8483C0.416748 12.3021 0.642248 13.6936 1.04008 15.0164C1.23564 15.6642 1.46878 16.2945 1.7395 16.9075C5.50425 25.4554 16.0001 30.6666 16.0001 30.6666C16.0001 30.6666 18.2514 29.4768 21.0427 27.3657C20.8846 27.457 20.7029 27.4991 20.5208 27.4865C20.3387 27.474 20.1646 27.4073 20.0206 27.2951C19.7245 27.066 19.4064 26.812 19.0782 26.537C18.4861 26.9624 17.9306 27.3391 17.4337 27.6636C16.9544 27.9764 16.4685 28.279 15.9762 28.5711C15.763 28.4513 15.5176 28.309 15.2402 28.144C13.91 27.3495 12.6266 26.4791 11.3966 25.537C8.40183 23.2425 5.11741 20.0305 3.417 16.1686C3.17582 15.622 2.96827 15.0612 2.7955 14.4893C2.43702 13.3084 2.25327 12.0815 2.25008 10.8474C2.25008 8.51721 3.00725 6.30529 4.22091 4.71396C5.4245 3.13179 6.99567 2.24996 8.69425 2.24996C11.0317 2.24996 12.9879 3.80096 14.3446 6.64996ZM30.1681 17.0092C30.3046 17.0111 30.4393 17.0399 30.5646 17.0939C30.69 17.148 30.8034 17.2262 30.8985 17.3241C30.9936 17.422 31.0685 17.5377 31.1188 17.6645C31.1692 17.7914 31.1941 17.9269 31.192 18.0634C31.1462 21.4642 29.5007 23.7788 27.9021 25.2134C27.2368 25.8081 26.5068 26.3262 25.7259 26.758C25.4205 26.9266 25.1066 27.0793 24.7854 27.2154C24.7585 27.2252 24.7374 27.2337 24.7222 27.241L24.7029 27.2484L24.6956 27.2511L24.6928 27.252C24.4377 27.3386 24.1589 27.3226 23.9152 27.2076C23.6716 27.0925 23.4821 26.8874 23.3868 26.6354C23.2915 26.3834 23.2977 26.1042 23.4042 25.8567C23.5107 25.6092 23.7091 25.4127 23.9577 25.3087L23.9622 25.3069L23.9952 25.2931L24.1456 25.229C25.0072 24.8276 25.8053 24.3019 26.5142 23.6688C27.8095 22.5046 29.0782 20.7034 29.1148 18.034C29.1166 17.8976 29.1453 17.7628 29.1992 17.6374C29.2531 17.512 29.3312 17.3985 29.429 17.3033C29.5269 17.2081 29.6425 17.1332 29.7693 17.0827C29.8961 17.0322 30.0316 17.0073 30.1681 17.0092Z" fill="white")
                div.col-3
                    p Турбота про улюбленців та їх власників
                    svg(width="36" height="41" viewBox="0 0 36 41" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M12.2624 15.61C14.3128 15.2615 15.8334 13.3941 16.0649 11.1633C16.2998 8.89468 16.8296 -0.222124 13.4073 0.357796C4.52983 1.86348 5.15286 16.8156 12.2624 15.61ZM23.9426 15.61C31.0504 16.8156 31.6734 1.86348 22.796 0.356917C19.3745 -0.223004 19.9034 8.8938 20.1375 11.1624C20.3698 13.3941 21.8922 15.2615 23.9426 15.61ZM8.61567 22.6544C8.61567 21.4681 8.19239 20.3928 7.51039 19.6104C6.38839 18.1444 2.82175 15.1796 1.94615 15.9391C0.118385 17.5284 0.177345 21.44 1.27823 24.2824C1.84407 25.8628 3.21071 26.9743 4.80791 26.9743C6.91023 26.9743 8.61567 25.04 8.61567 22.6544ZM34.2562 15.9391C33.3824 15.1796 29.8157 18.1444 28.6937 19.6104C28.0117 20.3928 27.5876 21.4681 27.5876 22.6544C27.5876 25.04 29.2948 26.9743 31.3953 26.9743C32.9934 26.9743 34.3609 25.8628 34.9268 24.2824C36.025 21.44 36.0857 17.5284 34.2562 15.9391ZM27.0965 29.3828C23.8617 27.7698 23.962 24.6634 23.2263 21.8289C22.6411 19.5682 20.5687 17.8962 18.1021 17.8962C16.958 17.8936 15.844 18.262 14.9271 18.9461C14.0101 19.6303 13.3398 20.5933 13.0165 21.6908C12.2289 24.4029 12.7033 27.5604 9.1771 29.3617C6.31271 30.2954 5.15287 31.6576 5.15287 34.8793C5.15287 37.4964 7.39951 40.2984 10.2991 40.6468C13.534 41.1344 16.0578 40.4972 18.1021 39.3321C20.1463 40.4972 22.6684 41.1335 25.9085 40.6468C28.8064 40.2984 31.0539 37.507 31.0539 34.8793C31.053 31.5872 29.9671 30.3605 27.0965 29.3828ZM23.28 33.32H19.9263L19.9307 36.84H16.2734L16.2787 33.32H12.72V29.8H16.2796L16.2743 26.28H19.9316L19.9272 29.8H23.28V33.32Z" fill="black")

        section.services
            h2.bold-txt Наші послуги
            div.col-6
                p Наша клініка надає широкий спектр послуг, що включають вакцинацію, терапію, стоматологію та багато інших.
                p Ознайомитись із усіма послугами можна
                button#services-button.button
                    p Тут
                    svg(width="38" height="44" viewBox="0 0 38 44" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M37 42.25V37.75C37 35.3631 36.0518 33.0739 34.364 31.386C32.6761 29.6982 30.3869 28.75 28 28.75H25.75C25.1533 28.75 24.581 28.5129 24.159 28.091C23.7371 27.669 23.5 27.0967 23.5 26.5V15.25C23.5 14.0565 23.0259 12.9119 22.182 12.068C21.3381 11.2241 20.1935 10.75 19 10.75C17.8065 10.75 16.6619 11.2241 15.818 12.068C14.9741 12.9119 14.5 14.0565 14.5 15.25V35.5L9.1 28.3C8.68084 27.7411 8.13731 27.2875 7.51246 26.9751C6.88761 26.6627 6.1986 26.5 5.5 26.5H4.5235C2.57725 26.5 1 28.0772 1 30.0235C1 30.6625 1.17325 31.2902 1.50175 31.837L7.75 42.25M19 4V1.75M32.5 17.5H34.75M3.25 17.5H5.5M8.52175 7.02175L6.931 5.431M29.4782 7.02175L31.069 5.431" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

        section.faq
            h2.bold-txt Поширені запитання
            div.accordion
                div.accordion-block
                    div.accordion-title
                        svg(width="71", height="71", viewBox="0 0 71 71", fill="none", xmlns="http://www.w3.org/2000/svg")
                            g(clip-path="url(#clip0_277_202)")
                                path(
                                    fill-rule="evenodd",
                                    clip-rule="evenodd",
                                    d="M37.5915 46.4665C37.0368 47.0211 36.2844 47.3327 35.5 47.3327C34.7156 47.3327 33.9632 47.0211 33.4085 46.4665L16.6732 29.7312C16.3906 29.4584 16.1652 29.1319 16.0102 28.771C15.8552 28.4101 15.7735 28.0219 15.7701 27.6291C15.7667 27.2363 15.8416 26.8467 15.9903 26.4831C16.1391 26.1196 16.3587 25.7893 16.6365 25.5115C16.9143 25.2337 17.2446 25.0141 17.6081 24.8653C17.9717 24.7166 18.3613 24.6417 18.7541 24.6451C19.1469 24.6485 19.5351 24.7302 19.896 24.8852C20.2569 25.0402 20.5834 25.2656 20.8562 25.5482L35.5 40.1919L50.1437 25.5482C50.7017 25.0093 51.449 24.7111 52.2246 24.7178C53.0003 24.7246 53.7423 25.0357 54.2908 25.5842C54.8393 26.1327 55.1504 26.8747 55.1572 27.6504C55.1639 28.426 54.8657 29.1733 54.3268 29.7312L37.5915 46.4665Z",
                                    fill="black"
                                )
                            defs
                                clipPath(id="clip0_277_202")
                                    rect(width="71", height="71", fill="white")

                        h3 Чи працюєте ви у свята?
                    p.accordion-description
                    |    Так, ми працюємо кожен день без виключень, адже наші послуги можуть знадобитися будь-коли.
                div.accordion-block
                    div.accordion-title
                        svg(width="71", height="71", viewBox="0 0 71 71", fill="none", xmlns="http://www.w3.org/2000/svg")
                            g(clip-path="url(#clip0_277_202)")
                                path(
                                    fill-rule="evenodd",
                                    clip-rule="evenodd",
                                    d="M37.5915 46.4665C37.0368 47.0211 36.2844 47.3327 35.5 47.3327C34.7156 47.3327 33.9632 47.0211 33.4085 46.4665L16.6732 29.7312C16.3906 29.4584 16.1652 29.1319 16.0102 28.771C15.8552 28.4101 15.7735 28.0219 15.7701 27.6291C15.7667 27.2363 15.8416 26.8467 15.9903 26.4831C16.1391 26.1196 16.3587 25.7893 16.6365 25.5115C16.9143 25.2337 17.2446 25.0141 17.6081 24.8653C17.9717 24.7166 18.3613 24.6417 18.7541 24.6451C19.1469 24.6485 19.5351 24.7302 19.896 24.8852C20.2569 25.0402 20.5834 25.2656 20.8562 25.5482L35.5 40.1919L50.1437 25.5482C50.7017 25.0093 51.449 24.7111 52.2246 24.7178C53.0003 24.7246 53.7423 25.0357 54.2908 25.5842C54.8393 26.1327 55.1504 26.8747 55.1572 27.6504C55.1639 28.426 54.8657 29.1733 54.3268 29.7312L37.5915 46.4665Z",
                                    fill="black"
                                )
                            defs
                                clipPath(id="clip0_277_202")
                                    rect(width="71", height="71", fill="white")

                        h3 Як підготуватися до прийому?
                    p.accordion-description
                    |    Рекомендуємо перед візитом забезпечити спокійну атмосферу для вашого улюбленця, не годувати його за 2 години до прийому та взяти всі медичні документи.
                div.accordion-block
                    div.accordion-title
                        svg(width="71", height="71", viewBox="0 0 71 71", fill="none", xmlns="http://www.w3.org/2000/svg")
                            g(clip-path="url(#clip0_277_202)")
                                path(
                                    fill-rule="evenodd",
                                    clip-rule="evenodd",
                                    d="M37.5915 46.4665C37.0368 47.0211 36.2844 47.3327 35.5 47.3327C34.7156 47.3327 33.9632 47.0211 33.4085 46.4665L16.6732 29.7312C16.3906 29.4584 16.1652 29.1319 16.0102 28.771C15.8552 28.4101 15.7735 28.0219 15.7701 27.6291C15.7667 27.2363 15.8416 26.8467 15.9903 26.4831C16.1391 26.1196 16.3587 25.7893 16.6365 25.5115C16.9143 25.2337 17.2446 25.0141 17.6081 24.8653C17.9717 24.7166 18.3613 24.6417 18.7541 24.6451C19.1469 24.6485 19.5351 24.7302 19.896 24.8852C20.2569 25.0402 20.5834 25.2656 20.8562 25.5482L35.5 40.1919L50.1437 25.5482C50.7017 25.0093 51.449 24.7111 52.2246 24.7178C53.0003 24.7246 53.7423 25.0357 54.2908 25.5842C54.8393 26.1327 55.1504 26.8747 55.1572 27.6504C55.1639 28.426 54.8657 29.1733 54.3268 29.7312L37.5915 46.4665Z",
                                    fill="black"
                                )
                            defs
                                clipPath(id="clip0_277_202")
                                    rect(width="71", height="71", fill="white")

                        h3 Як часто проводити огляд?
                    p.accordion-description
                    |    Ми рекомендуємо проводити профілактичний огляд щонайменше раз на рік, щоб слідкувати за здоров'ям вашого улюбленця та вчасно виявляти можливі проблеми.

        footer.footer
            div.row
                div.col-4
                    h2.bold-txt Healthy Paw
                    p Ветеринарна клініка
                    p.hide-mobile Healthy paw - турбота, якій можна довіряти. Професійна ветеринарна допомога та любов до кожного улюбленця.

                div.col-4.hide-mobile
                    h2 Навігація
                    ul.footer-nav
                        li
                            a(href="index.html") Головна
                        li
                            a(href="services.html") Послуги
                        li
                            a(href="about.html") Про нас
                        li
                            a(href="contacts.html") Контакти

                div.col-4
                    h2 Контакти
                    div.row
                        svg(width="17", height="25", viewBox="0 0 17 25", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M8.50008 11.8959C7.69891 11.8959 6.93055 11.5776 6.36403 11.0111C5.79751 10.4446 5.47925 9.67626 5.47925 8.87508C5.47925 8.07391 5.79751 7.30555 6.36403 6.73903C6.93055 6.17251 7.69891 5.85425 8.50008 5.85425C9.30126 5.85425 10.0696 6.17251 10.6361 6.73903C11.2027 7.30555 11.5209 8.07391 11.5209 8.87508C11.5209 9.27178 11.4428 9.6646 11.291 10.0311C11.1392 10.3976 10.9166 10.7306 10.6361 11.0111C10.3556 11.2916 10.0226 11.5142 9.65611 11.666C9.2896 11.8178 8.89678 11.8959 8.50008 11.8959ZM8.50008 0.416748C6.25679 0.416748 4.10538 1.30789 2.51914 2.89414C0.932891 4.48038 0.041748 6.63179 0.041748 8.87508C0.041748 15.2188 8.50008 24.5834 8.50008 24.5834C8.50008 24.5834 16.9584 15.2188 16.9584 8.87508C16.9584 6.63179 16.0673 4.48038 14.481 2.89414C12.8948 1.30789 10.7434 0.416748 8.50008 0.416748Z", fill="black")
                        p м. Київ, Берестейський проспект, 37
                    div.row
                        svg(width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M22.7677 17.8333C22.5657 19.3683 21.8118 20.7773 20.6469 21.7971C19.482 22.8169 17.9857 23.3778 16.4375 23.375C7.44298 23.375 0.12501 16.057 0.12501 7.06251C0.122235 5.51429 0.683132 4.01799 1.70294 2.85309C2.72275 1.68819 4.13173 0.934347 5.66673 0.732359C6.05489 0.684963 6.44797 0.764374 6.78729 0.958738C7.12661 1.1531 7.39397 1.45199 7.54946 1.8108L9.94196 7.15201V7.1656C10.061 7.44026 10.1102 7.74012 10.0851 8.03841C10.06 8.33669 9.96137 8.62412 9.7981 8.87502C9.77771 8.9056 9.75618 8.93392 9.73353 8.96224L7.37501 11.758C8.22349 13.4822 10.0269 15.2697 11.7737 16.1205L14.531 13.7744C14.558 13.7516 14.5864 13.7305 14.6159 13.711C14.8666 13.5438 15.155 13.4417 15.4551 13.414C15.7552 13.3863 16.0574 13.4339 16.3344 13.5524L16.3492 13.5592L21.6858 15.9506C22.0453 16.1055 22.3449 16.3726 22.5399 16.712C22.7349 17.0514 22.8148 17.4447 22.7677 17.8333Z" fill="black")
                        p +38 (099) 123 12 12
                    div.row
                        svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M12.5001 0.416748C19.1737 0.416748 24.5834 5.82646 24.5834 12.5001C24.5834 19.1737 19.1737 24.5834 12.5001 24.5834C5.82646 24.5834 0.416748 19.1737 0.416748 12.5001C0.416748 5.82646 5.82646 0.416748 12.5001 0.416748ZM12.5001 5.25008C12.1796 5.25008 11.8723 5.37739 11.6457 5.60399C11.4191 5.8306 11.2917 6.13794 11.2917 6.45841V12.5001C11.2918 12.8205 11.4192 13.1278 11.6458 13.3544L15.2708 16.9794C15.4987 17.1995 15.8039 17.3213 16.1207 17.3185C16.4376 17.3158 16.7406 17.1887 16.9647 16.9647C17.1887 16.7406 17.3158 16.4376 17.3185 16.1207C17.3213 15.8039 17.1995 15.4987 16.9794 15.2708L13.7084 11.9998V6.45841C13.7084 6.13794 13.5811 5.8306 13.3545 5.60399C13.1279 5.37739 12.8206 5.25008 12.5001 5.25008Z" fill="black")
                        p Цілодобово, без вихідних

                button.pop-up.button.hide-desc
                    p Замовити дзвінок
                    svg(width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 14.25L7.25 8L1 1.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

            div.copyright
                p Усі права захищено © 2024